.locationList {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}
.locationList button {
  all: unset;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.locationList button:hover {
  background-color: rgb(123, 122, 122);
}
.locationList li img {
  width: 24px;
  height: 24px;
}
.locationList li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.bottomBorder {
  padding-top: 4px;
  border-bottom: 4px solid blue;
}
.bottomBorder button:hover {
  background-color: transparent;
}
